/* We use google fonts */


.font-roboto-thin {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.font-roboto {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.font-roboto-medium {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.font-roboto-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.font-roboto-black {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

.font-montserrat {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.font-montserrat {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}